#aotca-content-container {
  padding-bottom: 130px;
}

#description-wrapper {
  text-align: center;
  padding-top: 70px;
  font-size: 17px;
  margin: auto;
  width: 70%;
}

section.header-wrapper h1 {
  color: #26378B;
  font-size: 24px;
  text-transform: capitalize;
}

.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.member-container {
  padding: 28px 19px;
  display: flex;
  flex-basis: 33.3%;
}

@media (max-width: 900px) {
  .member-container {
    flex-basis: 50%;
  }
}

@media (max-width: 600px) {
  .member-container {
    flex-basis: 100%;
  }
}

.member {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0.5px 5px rgba(121, 121, 121, 0.6);
  border-radius: 10px;
  width: 100%;
}

.member:hover {
  box-shadow: 0px 1px 16px rgba(119, 119, 119, 0.27);
}

.member .logo-wrapper {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #E6E6E6;
}

.member .logo-wrapper::before {
  display: table;
  content: '';
  padding-bottom: 60%;
  width: 100%;
}

.member .logo-wrapper img {
  position: absolute;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.member .description {
  padding: 20px 16px;
  font-size: 18px;
}

.member .description-title {
  display: block;
  line-height: 27px;
  font-weight: bold;
  color: #26378B;
}

.member .description-text {
  display: block;
  padding-top: 5px;
  color: #505050;
}
