/* Themify Customize Styling */
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 350px;
	height: 40px; 
}
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 350px; 
}
#main-nav a {	
	font-family:Roboto;	font-weight:500;
 
}
#main-nav a, #main-nav > li > a {	
	color: #26378b; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #f4803e; 
}
#footerwrap {	
	background-color: #28367c;
	padding-top: 30px;
	padding-bottom: 30px; 
}
@media screen and (max-width: 1024px) { /* Themify Customize Styling */
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 350px;
	height: 40px; 
}
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 350px; 
}
#main-nav a, #main-nav > li > a {	
	color: #26378b; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #ed3434; 
}
#footerwrap {	
	background-color: #28367c; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 350px;
	height: 40px; 
}
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 350px; 
}
#main-nav a, #main-nav > li > a {	
	color: #26378b; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #ed3434; 
}
#footerwrap {	
	background-color: #28367c; 
}
 }@media screen and (max-width: 480px) { /* Themify Customize Styling */
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img {		width: 350px;
	height: 40px; 
}
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {		width: 350px; 
}
#main-nav a, #main-nav > li > a {	
	color: #26378b; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #ed3434; 
}
#footerwrap {	
	background-color: #28367c; 
}
 }