/************************************************************************************
GLOBAL CSS
*************************************************************************************/
html *
{
   font-family: 'Roboto';
}

html, body
{
   max-width: 100%;
   overflow-x: hidden;
}

/*Jumbotron Title CSS for every page */
#banner_title{
   color: white;
   font-family: roboto;
   font-weight: bold;
   font-size: 2em;
   letter-spacing: 0px;
   text-align: center;
}

/************************************************************************************
NAV BAR CSS
*************************************************************************************/
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo img
{
  width: 350px;
  height: 40px;
}

#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a
{
  width: 350px;
}

#site-logo
{
  position:relative;
  bottom: 4px;
  left: 20%;
}

#main-nav
{
  position:relative;
  top: 10px;
  right: 5%;
}

#main-nav a
{
  font-family:Roboto; font-weight:500;
}

#main-nav a, #main-nav > li > a
{
  color: #26378b;
}

#main-nav a:hover, #main-nav > li > a:hover
{
  color: #ed3434;
}

#main-nav li:not(.themify-widget-menu) > ul, #main-nav .has-mega-sub-menu .mega-sub-menu, #main-nav .has-mega-column > .sub-menu
{
  background-color: #ffffff;
}

/*ABOUT DROPDOWN TO ALIGN PROPERLY */
#main-nav li:not(.themify-widget-menu):not(.has-mega-column):not(.has-mega-sub-menu) > ul
{
  margin-right: -165%;
}

/*NEWS DROPDOWN TO ALIGN PROPERLY */
li#menu-item-17.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has-sub-menu>ul
{
   margin-right: -44%;
}

#main-nav li:not(.themify-widget-menu) > ul
{
   background-color: #26378B;
}

#main-nav > li > a:hover
{
    color: #F4803E;
}

#main-nav ul a
{
   color: white;
   font-weight: bold;
}

#main-nav ul a:hover
{
   color: #F4803E;
}

/*Fixed mobile menu active state to be #F4803E */
.mobile_menu_active #main-nav .current-menu-item > a
{
    color: #F4803E;
}

/*Fixed mobile menu hover state to be #F4803E */
.mobile_menu_active #main-nav a:hover, .mobile_menu_active #main-nav ul a:hover
{
    color: #F4803E;
}

/*Fixed main nav hover state to be #F4803E */
#main-nav .current-menu-item > a
{
    color: #F4803E;
}

/*Fixed menu icon color */
.header-icons a
{
    color: #26378B;
}

/*Fixed menu icon hover spin effect */
#headerwrap #menu-icon-close:hover
{
    transform: none;
}

/************************************************************************************
FOOTER
*************************************************************************************/

#ft_1
{
   display: flex;
   justify-content: center;
   width: 100%;
   color: white;
}

#ft_1 a
{
   color: white;
   text-align: center;
   font-family: 'Roboto';
   font-size: 12px;
}

#footer_code p
{
    margin-bottom: 0em;
    color: white;
    text-align: center;
    font-size: 12px;
}

/*Overrides Themes CSS */
.footer-horizontal-left .footer-left-wrap, .footer-horizontal-right .footer-left-wrap
{
    width: 0;
}

#footerwrap
{
  background-color: #28367c;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*footer fix */
.footer-horizontal-left .footer-right-wrap {
    margin-left: 15%;
    float: left;
}

/************************************************************************************
FRONT PAGE
*************************************************************************************/

/*Fixed the horizontal reel full width problem */
.page-id-12 .pagewidth{
   width: 100%;
}

/*Fixed content going to full width on front page */
#themify_builder_content-12 {
  width: 100%;
}

/* For horizontal reel effect to work nicely */
#test2 img{
  width: 65px;
  height: 50px;
  margin-top: 10px;
}

#test3 img{
  width: 65px;
  height: 50px;
  margin-top: 10px;
}

/*For "Our Story", equalized top and bottom spacing */
#text-12-0-0-1{
   padding-top: 50px;
}

#text-12-0-0-1 p{
   margin-bottom: 1em;
}

/*Fixed story content spacing */
#text-12-0-0-2{
  width: 60%;
  left: 20%;
}

/*Our Story Section */
.themify_builder .text-12-0-0-2.module-text
{
    width: 74.5%;
    left: 13%;
}

.themify_builder .text-12-0-0-2.module-text p
{
    padding-bottom: 33px;
}

/* Button to have curves and text to be bold */
.button-12-0-0-5.module-button a
{
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #F4803E;
}

#buttons-12-0-0-5
{
  text-align: center;
}

#buttons-12-0-0-5 a
{
  color: white;
  background-color: #F4803E;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 86px;
}

/*Find out more button to not have underline */
.themify_builder .button-12-0-0-5.module-button a:hover{
   text-decoration: none;
}

.themify_builder .button-12-0-0-5.module-button a{
   padding-bottom: 50px;
}

#up_arrow{
  display: none;
}

#down_arrow{
  display: none;
}

/*Feature content design for mobile */
.feature_description
{
   font-size: 14px;
   z-index: 2;
   position: absolute;
   left: 10px;
   top: 190px;
   color: white;
}

/*Message the President Header Styling */
#message_from_the_president{
   font-size: 30px;
   font-weight: bold;
   color: #26378B;
   margin-bottom: 1em;
}

/*Fixed president text to not extend to full width */
#feature-12-0-0-6 p {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;

}

/*Equalized Padding at bottom of presidents section (81.23px total)*/
#feature-12-0-0-6 .module-feature-content {
  padding-bottom: 48px;

}

#feature-12-0-0-6 .module-feature-image {
  display: none;
}

/*Text align to the left for feature content */
.module-feature.layout-icon-top .module-feature-content
{
    text-align: left;
}

#hp-caret
{
   color: #f4803e;
}

/*Feature header CSS */
.p17
{
   color: #28367C;
   font-size: 17px;
   font-weight: 500;
}

/*Feature description CSS */
.p16
{
   font-size: 14px;
   position: relative;
   left: 2.5%;
}

/*Removes gap between feature and president content */
.themify_builder_sub_row .module-feature-image
{
    display: none;
}

/* Fixed full width gap for feature front page */
.sub_row_0-0-7
{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 57px;
}

 /*Hides the second row in desktop because it is only supposed to show in mobile */
.sub_row_0-0-8
{
  display: none;
}

/* Fixed full width gap for feature front page */
.sub_row_0-0-8
{
    width: 90%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 8%;
}

.sub_row_0-0-8 img{
  margin-bottom: 0;
}

/*Image Gradient Effect */
#img_wrapper::after{
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

/************************************************************************************
 LEGAL PAGE
*************************************************************************************/

#legal_title{
   color: black;
   font-family: roboto;
   font-weight: bold;
   font-size: 2em;
   letter-spacing: 0px;
   text-align: center;
}


#legal_paragraph{
   position: relative;
   width: 60%;
   margin-left: 20%;
}

#legal_header{
   font-family: Roboto;
   color: black;
   font-size: 21px;
   margin-top: 5%;
}

/************************************************************************************
 CONTACT PAGE
*************************************************************************************/
.builder-contact-fields{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 50%;
   position: relative;
   left: 24.7%;
}

.builder-contact-field.builder-contact-field-name {
   width: 30%;
}

.builder-contact-field.builder-contact-field-email {
   width: 30%;
}

.builder-contact-field.builder-contact-field-subject {
   width: 30%;
}

.builder-contact-field.builder-contact-field-message {
   width: 100%;
}

.builder-contact-field.builder-contact-field-send {
   position: relative;
   margin-left: 36%;
}

.themify_builder .contact-187-1-0-1.module-contact .builder-contact-field-send button {
    font-family: Roboto;
    color: #ffffff;
    font-size: 14px;
    background-color: #F4803E;
    position: relative;

}

.fa.fa-cog.fa-spin{
   display: none;
}

/************************************************************************************
 TERMS OF SERVICE PAGE
*************************************************************************************/
#text-5678-1-0-1{
   width: 75%;
   left: 12.5%;
}
#text-5678-1-0-1 p{
   font-family: Roboto;
   margin: 1.5em;
   font-size: 17px;
}


/************************************************************************************
 ABOUT AOTCA PAGE
*************************************************************************************/
#text-196-1-0-1{
   width: 785px;
   margin: 0 auto;
   padding-top: 79px;
   padding-bottom: 93px;
   padding-left: 50px;
   padding-right: 50px;
}

#text-196-1-0-1 p{
   padding-bottom: 25px;
}

.themify_builder .module_row_196-0.module_row {
    height: 229px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/************************************************************************************
 PAST PRESIDENT PAGE
*************************************************************************************/
/*Changed the Header for Past Presidents Page */
.themify_builder .module_row_5650-0.module_row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 229px;
}

#tablepress-1{
  width: 750px;
  margin: 0 auto;
  margin-bottom: 163.5px;
}

/* Past Presidents & Officers Caption */
.tablepress-table-name.tablepress-table-name-id-1{
   color: #F4803E;
   font-size: 20px;
   font-weight: bold;
   padding-top: 83px;
   padding-bottom: 20px;
   width: 750px;
   margin: 0 auto;
}

.tablepress thead th{
   background-color: transparent;
   color: black;
}

.tablepress tbody tr:last-child {
    border-bottom: 1px solid #ddd;
}

.themify_builder_row{
  padding-right: 0px;
}

/************************************************************************************
 ORGANISATION PAGE
*************************************************************************************/

/*Fixed Banner Title */
.themify_builder .module_row_5654-0.module_row {
  height: 229px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Organisation Image */
#image-5654-1-0-2 {
   width: 700px;
   margin: 0 auto;
   padding-top: 15px;
   padding-bottom: 50px;
}

/*Organisation Text */
#organisation_description{
   color: #26378B;
   font-weight: bold;
   text-align: center;
   font-size: 17px;
   margin-bottom:0;
   padding-top: 53px;
}

/************************************************************************************
 AOTCA OFFICER PAGE
*************************************************************************************/
.themify_builder .module_row_5652-0.module_row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 229px;
}

.module_column_5652-1-0, .module_column_5652-2-0{
  margin: 0 auto;
}

.module_column_5652-1-0 p{
  padding-bottom: 21px;
  padding-left: 297px;
  padding-right: 50px;
}

.module_column_5652-1-0 p:first-child{
  padding-bottom: 8px;
}

#text-5652-1-0-1 p:first-child{
  padding-top: 56px;
}

#officer_council_header{
   font-family: 'Roboto';
   font-size: 21px;
   font-weight: bold;
   letter-spacing:0;
   line-height: 27px;
   padding-top: 49px;
   padding-bottom: 25px;
   padding-left: 297px;
}

#officer_council_paragraph{
   padding-bottom: 75px;
   padding-left: 297px;
   line-height: 27px;
}

/************************************************************************************
 COMMITTEE PAGE
*************************************************************************************/

.themify_builder .module_row_5656-0.module_row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 229px;
}

#text-5656-1-0-1 p:first-child{
  padding-top: 56px;
}

.module_column_5656-1-0 p{
  padding-left: 297px;
}

.module_column_5656-1-0 div p:nth-child(2){
  padding-bottom: 15px;
}

/*Committee Header */
#committee_title{
   color: black;
   font-weight: bold;
   font-size: 21px;
   padding-top: 30px;
   padding-bottom: 20px;
}

#committee_header{
   font-size: 17px;
   font-weight: bold;
   color: black;
   padding-bottom: 0px;
}

/* Used in both AOTCA officers and committee page */
#officer_link{
   color: #F4803E;
   font-size: 17px;
   padding-bottom: 15px;
}

.module_column_5656-1-0{
  padding-bottom: 125px;
}

/************************************************************************************
 STATUTES PAGE
*************************************************************************************/

/*Fixed title for banner page */
.themify_builder .module_row_6061-0.module_row {
  height: 229px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*82px padding top for first header */
#text-6061-1-0-1 h1{
  padding-top: 82px;
}

#statutes_black_header{
   font-family: 'Roboto';
   letter-spacing:0;
   text-transform: none;
   font-size: 21px;
   font-weight: bold;
   padding-top: 25px;
   padding-bottom: 23px;
}

#statutes_blue_header{
   font-family: 'Roboto';
   letter-spacing:0;
   text-transform: none;
   font-size: 21px;
   font-weight: bold;
   color: #26378B;
   padding-bottom: 16px;
}

#statutes_title{
   color: white;
   font-family: roboto;
   font-weight: bold;
   font-size: 2em;
   letter-spacing: 0px;
}

#statutes_paragraph{
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.module_column_6061-1-0 {
  width: 60%;
  position: relative;
  left: 20%;
  line-height: 27px;
}

/*Default of 25px after every paragraph element */
.module_column_6061-1-0 p {
  margin-bottom: 25px;
}


/************************************************************************************
GALLERY PAGE
*************************************************************************************/

/*Styles the Date */
.module_column_133-1-0 .image-content a{
  color: #95989A;
  font-size: 15px;
}

/*Styles the Title */
.module_column_133-1-0 .image-caption{
  color: #505050;
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
}

/*Removes gap between date and title */
.module-image .image-title {
    margin:0;
}

/*Changes margins between photo and banner */
.module-image.image-top .image-content {
    margin-top: 10px;
    margin-bottom: 50px;
}


@media screen and (max-width: 480px){
/************************************************************************************
MOBILE NAV
*************************************************************************************/
  /*Changed width and height of logo */
  .header-top-bar #site-logo {
      height: 30px;
      width: 300px;
      margin-top: 0;
  }

  /*Shifted logo to the left */
  .header-bar #site-logo a {
      margin-left: 10%;
  }

  /* Made site logo only 80% */
  #site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {
      width: 80%;
  }

  /*Hid Carat for Nav*/
  #menu-item-15 i {
    display: none;
  }

  #menu-item-17 i {
    display: none;
  }

  /* Mobile Menu Prevent Horizontal Scroll */
  .mobile_menu_active .sidemenu {
      overflow-x: hidden;
  }

  /*Changed mobile nav to be blue with white text */
  .mobile_menu_active #mobile-menu.sidemenu-on {
    color: white;
    background-color: #28367C;
  }

  /*Removed transition of text in mobile nav*/
  #main-nav li:not(.themify-widget-menu) > ul {
    transition: none;
    transform: none;
  }

  /*Removed transition for highlight */
  #main_nav{
    transition: none;
    -webkit-transition: none;
  }

/************************************************************************************
MOBILE FOOTER
*************************************************************************************/
  /*Footer looks nice */
  #footer_wrap{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*Footer Address and Copy Right */
  #footer_code p{
      margin-bottom: 0em;
      color: white;
      text-align: center;
      font-size: 12px;
  }

  /*Legal Link */
  #ft_1 a{
     color: white;
     text-align: center;
     font-family: 'Roboto';
     font-size: 12px;
  }

  #ft_1{
     display: flex;
     justify-content: center;
     width: 100%;
     color: white;
  }

  /*Fixed uneven footer distribution */
  .footer-horizontal-left .footer-right-wrap {
    margin-left:0;
  }

  /*Fixed Vertical Align for Banner Title */
  .themify_builder .fullcover{
    height:140px;
  }

  /* Fixed Banner Title */
  .themify_builder_row.fullwidth .row_inner, .module_row.fullwidth .row_inner {
    width: auto;
    left: auto;
    top: auto;
  }


/************************************************************************************
 ABOUT US PAGE MOBILE
*************************************************************************************/
/*Our Story Header */
div#text-196-1-0-1{
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  padding-bottom: 50px;
}

#text-196-1-0-1 p{
  line-height: 27px;
}

/*Aligns title and body text to left */
#text-12-0-0-1 p{
  text-align: left;
  padding-left: 5%;
}

/*Our Story Content */
#text-12-0-0-2{
  width: 90%;
  left: 5%;
}

#text-12-0-0-2 p{
  text-align: left;
  width: 100%;
  line-height: 23px;
}

/*Hides it in mobile screen */
#text-12-0-0-2 p:nth-child(2){
  display: none;
}

#up_arrow{
  display: none;
  padding-bottom: 10%;
}

#down_arrow{
  display: block;
  padding-bottom: 10%;
}

/* Disabled the president section in responsive mode */
#feature-12-0-0-6{
    display: none;
}

/* Hides original row */
.sub_row_0-0-7{
  display: none;
}

/*Displays new row for mobile */
.sub_row_0-0-8{
  display: block;
}

.sub_row_0-0-8 #img_wrapper::before{
  content:'';
  padding-bottom: 60px;
  width: 100%;
}

/* Removed featured image gap in responsive mode */
.module-feature.layout-icon-top .module-feature-image {
    display: none;
}

/* Showed our story header */
.module-feature-content p:nth-child(1){
    margin-bottom: 1em;
}

/************************************************************************************
ORGANISATION PAGE MOBILE
*************************************************************************************/

/*Organisation Chart of AOTCA */
#image-5654-1-0-2{
  width:auto;
  left:0;
}

/*Fixed Gap between image and header */
#text-5654-1-0-1 p{
  margin-bottom: 0;
  line-height: 23px;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

/*Aligns "Our Member Organisations are represented by the following bodies:" to left*/
#organisation_description{
  text-align: left;
}

.module-image .image-wrap {
  margin-bottom: 20px;
  margin-top: 0px;
}

/************************************************************************************
 AOTCA OFFICERS MOBILE PAGE
*************************************************************************************/

/*Changes width of council paragraph to be 90% (Wrapper)*/
.module_column_5652-2-0-2 .module-text{
  width: 90%;
}

/*Ensures links have 24px padding left and right */
.module_column_5652-1-0 .tb-column-inner p{
  padding-bottom: 21px;
  padding-left: 24px;
  padding-right: 24px;
}

.module_column_5652-2-0 #officer_council_header{
  padding-left: 24px;
  padding-right: 24px;
}

.module_column_5652-2-0 #officer_council_paragraph{
  padding-left: 24px;
  padding-right: 24px;
}

/*Initial padding top of 40px for consistency */
#text-5652-1-0-1 p:first-of-type{
  padding-top: 40px;
}

/*Fixed Line Height */
#officer_council_paragraph{
  line-height: 23px;
}

/*Past President Mobile Page */
#tablepress-1{
  font-size: 12px;
  line-height: 27px;
}

/*Tightens the gap between table elements */
.tablepress td, .tablepress th {
  padding: 0px;
}

/*Adds 20px gap between table and banner */
.module_column_5650-1-0{
  padding-top: 40px;
}

#text-5650-1-0-1 .tablepress-table-name.tablepress-table-name-id-1{
  padding-top: 0px;
  padding-left: 24px;
  padding-right: 24px;
}

#text-5650-1-0-1 #tablepress-1{
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 75px;
}

/************************************************************************************
COMMITTEES PAGE MOBILE
*************************************************************************************/

#committee_title{
   padding-bottom: 20px;
}

#text-5656-1-0-1 p:first-child {
    padding-top: 40px;
}

.row_inner .module_column_5656-1-0 p{
  padding-left: 24px;
  padding-right: 24px;
}


/************************************************************************************
STATUTES PAGE MOBILE
*************************************************************************************/

/*Extends text container to 90% */
.module_column_6061-1-0 {
  padding-left: 24px;
  padding-right: 24px;
  line-height: 27px;
  padding-top: 40px;
  width: auto;
  left: auto;
}

#text-6061-1-0-2 p{
  padding-bottom: 20px;
}

.module_column_6061-1-0 p {
  margin-bottom: 1em;
}

#text-6061-1-0-1 h1 {
  padding-top: 0px;
}

/************************************************************************************
GALLERY PAGE MOBILE
*************************************************************************************/

/*Responsive gallery images */
#body .gallery-columns-6 .gallery-item {
    width: 75%;
    position: relative;
    left: 12.5%;
}

.module-image.image-top .image-content {
    margin:0;
}

#page-133 .module-image .image-wrap {
    margin-top: 20px;
    margin-bottom: 0px;
}

/************************************************************************************
 LEGAL PAGE MOBILE
*************************************************************************************/

.module_column_5533-1-0{
  width: 90%;
  margin-left: 5%;
}

#legal_paragraph{
  width: 100%;
  margin-left: 0;
  margin-top: 10%;
}

/************************************************************************************
CONTACT US PAGE MOBILE
*************************************************************************************/
.builder-contact-fields{
  width: 100%;
  left: 0;
}

.builder-contact-field.builder-contact-field-name {
    width: 100%;
}

.builder-contact-field.builder-contact-field-email{
    width: 100%;
}

.builder-contact-field.builder-contact-field-subject{
    width: 100%;
}
/* Shifts button back to the left */
.builder-contact-field.builder-contact-field-send {
    margin-left: 0;
    margin: 0 auto;
}

.control-input button{
    padding: 10px 30px;
    letter-spacing: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Adds padding between form and banner */
.module_column_187-1-0{
    padding-top: 20px;
}

}

@media screen and (max-width: 1200px){

/*Made sure logo shifted correcltly on different screen sizes */
#site-logo a{
   margin-left: 10%;
}

}

@media screen and (max-width: 900px){
  /*About Us Page */
  #text-196-1-0-1{
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
  /*AOTCA Officer Page */
  /*Changing the padding for AOTCA officers: position and name */
  .module_column_5652-1-0 p {
    padding-left: 50px;
    padding-right: 50px;
  }
  /*Changing the padding for AOTCA officers: Council header and council paragraph */
  #officer_council_header{
     padding-left: 50px;
     padding-right: 50px;
  }

  #officer_council_paragraph{
     padding-left: 50px;
     padding-right: 50px;
  }

  /*AOTCA Commitee Page */
  .module_column_5656-1-0 p{
    padding-left: 50px;
    padding-right: 50px;
  }

  /*Past Presidents Page */
  #tablepress-1{
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    border-collapse: separate;
    margin:0 0;
  }

  /* Past Presidents & Officers Caption */
  .tablepress-table-name.tablepress-table-name-id-1{
     width: auto;
     padding-left: 50px;
     padding-right: 50px;
  }

}

@media screen and (max-width: 760px){

/*Removes Gap Between Slider and Nav */
body #content {
   padding-top: 0%;
}

}
