.themify_builder .text-12-0-0-1.module-text { font-family: Roboto; color: #26378b; font-size: 30px; text-align: center;  } 
.themify_builder .text-12-0-0-1.module-text h1 { font-family: Roboto; color: #26378b;  } 
.themify_builder .text-12-0-0-1.module-text h2 { font-family: Roboto; color: #26378b;  } 
.themify_builder .text-12-0-0-1.module-text h3:not(.module-title) { font-family: Roboto; color: #26378b;  } 
.themify_builder .text-12-0-0-1.module-text h4 { font-family: Roboto; color: #26378b;  } 
.themify_builder .text-12-0-0-1.module-text h5 { font-family: Roboto; color: #26378b;  } 
.themify_builder .text-12-0-0-1.module-text h6 { font-family: Roboto; color: #26378b;  } 
.themify_builder .text-12-0-0-2.module-text { font-family: Roboto; color: #777777; font-size: 17px; text-align: center;  } 
.themify_builder .text-12-0-0-2.module-text h1 { font-family: Roboto; color: #777777;  } 
.themify_builder .text-12-0-0-2.module-text h2 { font-family: Roboto; color: #777777;  } 
.themify_builder .text-12-0-0-2.module-text h3:not(.module-title) { font-family: Roboto; color: #777777;  } 
.themify_builder .text-12-0-0-2.module-text h4 { font-family: Roboto; color: #777777;  } 
.themify_builder .text-12-0-0-2.module-text h5 { font-family: Roboto; color: #777777;  } 
.themify_builder .text-12-0-0-2.module-text h6 { font-family: Roboto; color: #777777;  } 
.themify_builder .button-12-0-0-5.module-button a { background-color: #f4803e; font-family: Roboto; color: #ffffff; font-size: 14px; line-height: 100%; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px;  } 
.themify_builder .button-12-0-0-5.module-button { text-align: center;  } 
.themify_builder .feature-12-0-0-6.module-feature { background-color: #f2f3f7; font-family: Roboto; font-size: 17px; text-align: center;  } 
.themify_builder .feature-12-0-0-6.module-feature .module-feature-title { font-family: Roboto;  } 
.themify_builder .feature-12-0-0-6.module-feature h1 { font-family: Roboto;  } 
.themify_builder .feature-12-0-0-6.module-feature h2 { font-family: Roboto;  } 
.themify_builder .feature-12-0-0-6.module-feature h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .feature-12-0-0-6.module-feature h4 { font-family: Roboto;  } 
.themify_builder .feature-12-0-0-6.module-feature h5 { font-family: Roboto;  } 
.themify_builder .feature-12-0-0-6.module-feature h6 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature { font-family: Roboto; font-size: 16px; line-height: 20px; text-align: left;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature .module-feature-title { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature h1 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature h2 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature h4 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature h5 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-0-0.module-feature h6 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature { font-family: Roboto; font-size: 16px; line-height: 20px; text-align: left;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature .module-feature-title { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature h1 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature h2 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature h4 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature h5 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-1-0.module-feature h6 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature { font-family: Roboto; font-size: 16px; line-height: 20px; text-align: left;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature .module-feature-title { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature h1 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature h2 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature h4 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature h5 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-7-2-0.module-feature h6 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature { font-family: Roboto; font-size: 16px; line-height: 20px; text-align: left;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature .module-feature-title { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature h1 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature h2 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature h4 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature h5 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-0-0.module-feature h6 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature { font-family: Roboto; font-size: 16px; line-height: 20px; text-align: left;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature .module-feature-title { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature h1 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature h2 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature h4 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature h5 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-1-0.module-feature h6 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature { font-family: Roboto; font-size: 16px; line-height: 20px; text-align: left;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature .module-feature-title { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature h1 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature h2 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature h3:not(.module-title) { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature h4 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature h5 { font-family: Roboto;  } 
.themify_builder .feature-12-sub_row_0-0-8-2-0.module-feature h6 { font-family: Roboto;  } 
